// css img, button, heading, title, input, elements,...
img {
    max-width: 100%;
    height: auto;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    &.--center {
        margin: 0 auto;
        display: block;
    }
}

a {
    text-decoration: none;
}

// colors (tuỳ chỉnh)
// .--white-cl {
//     color: $white-cl;
// }

// .--black-cl {
//     color: $black-cl;
// }

// css article (nội dung chi tiết bài viết)
.heading {
    font-family: pb;
    &.--h1 {
        font-size: var(--h1-fs);
        line-height: var(--h1-lh);
    }
    &.--h2 {
        font-size: var(--h2-fs);
        line-height: var(--h2-lh);
    }
}
